# network
VITE_API_PORT = 3000
VITE_API_TARGET=http://localhost:3000

# security
VITE_AUTH_TOKEN=authorized-can-access
BCRYPT_SALT_ROUNDS=13
SYNTHETIC_LATENCY_MIN=50
SYNTHETIC_LATENCY_MAX=5000

# database
DATABASE_PATH=./src/db.json

# test user credential (admin)
VITE_TEST_USER_EMAIL=anno.hideaki@leverx.com
VITE_TEST_USER_PASSWORD=password11
