@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.section-roles {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  margin: 1rem 4rem;
  background-color: $color-white;
  align-items: center;
  padding: 2rem;
  row-gap: 1rem;
  font-size: 1.2rem;
  margin-top: 10rem;
  border-radius: $radius-medium;

  &__vacation,
  &__book,
  &__input {
    margin-right: 3rem;
    border-right: 2px solid $color-lighter-grey;
    padding: 1rem;
  }

  &__vacation,
  &__book,
  &__admin {
    text-transform: uppercase;
    font-weight: bold;
    color: $color-darker-grey;
  }

  &__paragraph {
    grid-column: 1/-1;
    margin: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-darker-grey;
  }

  &__search {
    color: $color-darker-grey;
  }

  &__admin {
    @include respond(smaller-tab) {
      display: none;
    }
  }

  &__row {
    display: flex;

    &-admin {
      width: 9rem;
      border: 2px solid $color-lighter-grey;
      padding: 1rem;
      text-transform: uppercase;
    }

    &-odd {
      background-color: $color-lighter-grey;
    }
  }

  &__role {
    display: flex;
    border: 2px solid $color-lighter-grey;
    width: fit-content;
    &-employee,
    &-hr {
      text-transform: uppercase;
      padding: 1rem;
      font-size: $font-small;
    }
  }

  &__role-admin {
    text-transform: uppercase;
    padding: 1rem;
    width: 50%;
    @include respond(smaller-tab) {
      display: none;
    }
  }

  &__employee {
    display: flex;
    align-items: center;
    gap: $space-sm;
    &-container {
      width: 100%;
      display: grid;
      grid-template-columns: 3fr 2fr 1fr;
      grid-column: 1/-1;
    }
    &-img {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
    }

    &-name {
      font-size: 1.4rem;
      color: $color-darker-grey;
      font-weight: bold;
    }
  }

  @include respond(smaller-tab) {
    grid-template-columns: 3fr 2fr;

    &__employee {
      &-container {
        grid-template-columns: 3fr 2fr;
      }
    }
  }

  @include respond(phone) {
    display: flex;

    flex-direction: column;
    justify-items: center;
    gap: $space-md;
    background-color: $color-lighter-grey;

    &__book {
      display: none;
    }

    &__input {
      border: none;
      margin: 0;
    }

    &__employee-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 70%;
      gap: $space-md;
      background-color: $color-white;
      border-radius: $radius-medium;
      box-shadow: $card-shadow;
      padding: $space-md;
    }
  }
}

.role {
  background-color: $color-500;
  color: white;
}
