* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: #3f3e3e;
}

body {
  font-family: sans-serif;
  background-color: #efeff3;
}

button {
  text-decoration: none;
  border: none;
  background-color: transparent;
}

.hidden {
  display: none;
}

.flex--horizontal {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.highlight {
  position: relative;
  z-index: 1;
  color: #efeff3;
}
.highlight::after {
  display: block;
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: linear-gradient(to top left, #914bb9, #1e5dbe, #a5c4fd);
}

.user-details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 4rem 4rem;
  background-color: #fff;
  border-radius: 2px;
  margin-top: 10rem;
}

.avatar-section {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-right: 1px solid #efeff3;
}
.avatar-section__img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}
.avatar-section__full {
  font-weight: bold;
  font-size: 3rem;
}
.avatar-section__native {
  color: #808080;
  font-size: 2rem;
  font-weight: bold;
}
.avatar-section__copy {
  background-color: #efeff3;
  color: #808080;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 80px;
  margin-bottom: 1rem;
  transition: all 0.5s;
}
.avatar-section__copy:hover {
  background-color: #bebebe;
}
.avatar-section__link {
  height: 2rem;
}
.avatar-section__edit {
  text-transform: uppercase;
  font-weight: 550;
  padding: 1rem;
  border-radius: 2px;
  border: 1px solid #efeff3;
  transition: all 0.5s;
}
.avatar-section__edit:hover {
  background-color: #bebebe;
  color: #808080;
}
.avatar-section-icon {
  font-size: 2.5rem;
  color: #5591ff;
  width: 2rem;
  height: 2rem;
}
.avatar-section__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  margin-top: 1rem;
}
.avatar-section__general {
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1rem;
  border-bottom: 2px solid #efeff3;
}

.details-section {
  padding: 5rem;
  font-size: 2rem;
  color: #808080;
}
.details-section-icon {
  width: 2rem;
  height: 2rem;
}
.details-section__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  margin-top: 1rem;
}
.details-section__row-save,
.details-section__row-cancel {
  font-size: 1.5rem;
  padding: 2rem;
  font-weight: bold;
}
.details-section__row-save {
  background-color: #5591ff;
  color: #fff;
  transition: all 0.5s;
}
.details-section__row-save:hover {
  background-color: #1e5dbe;
  color: #efeff3;
}
.details-section__row-cancel {
  transition: all 0.5s;
}
.details-section__row-cancel:hover {
  background-color: #bebebe;
  color: #efeff3;
}
.details-section__btns {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
}

.edit-input,
.visa-input {
  padding: 0.5rem;
  color: #808080;
}

.home-box {
  background-color: #914bb9;
  border-radius: 50%;
  position: absolute;
  top: 78%;
  left: 4%;
  border: 0.4rem solid #fff;
}
.home-box__menu {
  width: 2rem;
  padding: 0.2rem;
}
.home-box__grid {
  width: 3rem;
  padding: 0.3rem;
}
.home-box__icon {
  width: 3rem;
  padding: 0.3rem;
}

.visa-group {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 2rem;
  font-size: 1rem;
}
.visa-group__header {
  grid-column: 1/3;
}

.visa-row__edit {
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.employee-edit-form {
  padding: 2rem;
}

.form-error {
  color: #133a79;
  font-size: 1.6rem;
}

.page {
  margin-top: 7rem;
}

.header {
  background-color: #1e5dbe;
  color: #fff;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: -1%;
  z-index: 1000;
}
.header__brand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 1rem 0 2rem 3rem;
  background-color: inherit;
}
.header__brand:visited,
.header__brand:hover,
.header__brand:active,
.header__brand:focus {
  color: #fff;
  text-decoration: none;
}
.header__brand-secondary {
  text-transform: uppercase;
  color: #a5c4fd;
  margin-bottom: 0.2rem;
}
.header__brand-main {
  text-transform: uppercase;
}
.header__address-book,
.header__settings-btn,
.header__requests-btn {
  color: #fff;
  background-color: #1e5dbe;
  border: none;
  padding: 3rem;
}
.header__address-book.active-tab,
.header__settings-btn.active-tab,
.header__requests-btn.active-tab {
  color: #efeff3;
  border-bottom: 2px solid #fff;
}
.header__logged-in,
.header__logoff-wrap {
  transition: all 0.5s;
}
.header__logged-in:hover,
.header__logoff-wrap:hover {
  background-color: #133a79;
  color: #efeff3;
}
.header__support-btn {
  padding: 0.5rem;
  background-color: #1450af;
  border-radius: 80px;
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.5s;
}
.header__support-btn:hover {
  background-color: #133a79;
  color: #efeff3;
}
.header__support-paragraph {
  text-transform: uppercase;
}
.header__support-icon,
.header__logoff-btn {
  width: 2rem;
  height: 2rem;
  color: #fff;
}
.header__employee-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  left: -3%;
}
.header__logoff-wrap {
  position: relative;
  background-color: #1450af;
  border-radius: 80px;
  font-size: 1.2rem;
  padding: 0.8rem;
  text-transform: uppercase;
}
.header__logged-in {
  color: #fff;
  background-color: #1450af;
  border-radius: 80px;
  padding: 1rem 1rem 1rem 3.5rem;
  position: relative;
}

.header--right {
  gap: 2rem;
  justify-content: space-between;
}

.search {
  font-size: 2rem;
  justify-content: space-between;
}
.search__basic,
.search__advanced {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: #bebebe;
  padding: 2rem;
}
.search__basic.active,
.search__advanced.active {
  color: #808080;
  border-bottom: 2px solid #808080;
}
.search-form__advanced *,
.search-form__basic * {
  min-width: 0;
}
.search-form__basic {
  height: 14rem;
}
.search-form__advanced {
  grid-row: 2/3;
  background-color: #fff;
  padding: 3rem;
  height: 34rem;
}
.search__btn-submit {
  background-color: #5591ff;
  padding: 1rem;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5%;
  font-size: 1rem;
  width: 100%;
  transition: all 0.5s;
}
.search__btn-submit:hover {
  background-color: #1450af;
  color: #efeff3;
}

.flex-left,
.flex-right {
  display: flex;
  align-items: center;
}

.flex-right {
  justify-content: space-between;
  font-size: 1.2rem;
}

.flex-left {
  font-size: 1.6rem;
  justify-content: center;
}

.employee-displayed {
  font-size: 1.4rem;
  color: #808080;
  font-weight: bold;
}

.view-toggle__icon-menu,
.view-toggle__icon-grid {
  font-size: 2.5rem;
  cursor: pointer;
  color: #bebebe;
  width: 2rem;
  height: 2rem;
}
.view-toggle__icon-menu.clicked,
.view-toggle__icon-grid.clicked {
  color: #5591ff;
}

.search-form__basic,
.signin__form,
.signup__form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;
  background-color: #fff;
  border-radius: 1%;
}

.user-input {
  outline: none;
  text-decoration: none;
  border: 1px solid #bebebe;
  padding: 0.8rem;
}
.user-input:focus {
  border: 1px solid #a5c4fd;
}

label {
  font-size: 1.3rem;
  font-weight: 600;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.grid-row-1-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.grid-row-2-3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.5rem;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  background-color: #efeff3;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
  padding: 3rem;
}

.grid-container > * {
  min-width: 0;
}

.employee-grid__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.employee-menu__img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  margin-left: 1rem;
}
.employee-menu__name {
  font-size: 1.5rem;
}
.employee-menu__department,
.employee-menu__room {
  color: #808080;
  font-size: 1.5rem;
}

.employee-grid {
  padding: 1rem 2rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.employee-grid__img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  position: relative;
}
.employee-grid__name {
  font-size: 1.8rem;
  margin-bottom: 3.7rem;
  font-weight: 600;
}

.employee--flex-container {
  display: flex;
  width: 100%;
  padding: 0.8rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
.employee--flex-item {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  font-size: 1.4rem;
}

.border {
  width: 100%;
  height: 2px;
  background-color: #efeff3;
}

.employee__icon,
.icon {
  color: #5591ff;
  width: 1.5rem;
  height: 1.5rem;
}

.employee-grid__container,
.employee-menu__container,
.nothing-found {
  grid-column: 2/3;
  grid-row: 2/3;
}

/* menu view */
.employee-menu {
  display: flex;
  flex-direction: column;
}

.first-row,
.employee-menu {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr;
  background-color: #fff;
  align-items: center;
  border-radius: 3%;
  font-size: 1.5rem;
  font-weight: 400;
}

.first-row {
  margin-bottom: 1rem;
  padding: 1rem;
}

.employee-menu {
  margin-bottom: 1rem;
}

/* nothing found section */
.page__nothing-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  gap: 4rem;
}

.go-back {
  padding: 2rem 3rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #1e5dbe;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 3px solid #1450af;
}

.wrapper {
  position: relative;
}

.sign {
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  align-items: start;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.header-sign {
  padding: 2rem;
  background-color: #1e5dbe;
  display: flex;
  justify-content: space-between;
}

.header__btn-signup,
.header__btn-signin {
  padding: 2rem;
  background-color: #1450af;
  border-radius: 80px;
  color: #fff;
  transition: all 0.5s;
  margin-right: 2rem;
}
.header__btn-signup:hover,
.header__btn-signin:hover {
  background-color: #133a79;
  color: #efeff3;
}

.signup__form {
  height: 32rem;
}

.signin__form,
.signup__form {
  justify-content: center;
  margin: 3rem;
}

.signin__error {
  color: #914bb9;
}

.signin__btn,
.signup__btn {
  transition: all 0.5s;
}

.signin__btn:hover,
.signup__btn:hover {
  color: #efeff3;
  background-color: #1450af;
}

.sign {
  padding: 2rem;
}
.sign__message {
  gap: 2rem;
  margin: 3rem;
}
.sign__welcome {
  font-size: 5.5rem;
  color: #1450af;
}
.sign__paragraph {
  font-size: 3rem;
}
.sign__label {
  color: #808080;
}

.section-roles {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 1fr;
  margin: 1rem 4rem;
  background-color: #fff;
  align-items: center;
  padding: 2rem;
  row-gap: 1rem;
  font-size: 1.2rem;
  margin-top: 10rem;
}
.section-roles__vacation,
.section-roles__book,
.section-roles__input {
  margin-right: 3rem;
  margin-left: 2rem;
  border-right: 2px solid #efeff3;
  padding: 1rem;
}
.section-roles__paragraph {
  grid-column: 1/-1;
  margin: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #808080;
}
.section-roles__search {
  color: #808080;
}
.section-roles__row {
  display: flex;
}
.section-roles__row-admin {
  width: 9rem;
  border: 2px solid #efeff3;
  padding: 1rem;
  text-transform: uppercase;
}
.section-roles__row-odd {
  background-color: #efeff3;
}
.section-roles__role {
  display: flex;
  border: 2px solid #efeff3;
  width: 18rem;
}
.section-roles__role-employee,
.section-roles__role-hr {
  text-transform: uppercase;
  padding: 1rem;
  width: 50%;
}
.section-roles__role-admin {
  text-transform: uppercase;
  padding: 1rem;
  width: 50%;
}
.section-roles__employee {
  display: flex;
  align-items: center;
}
.section-roles__employee-img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.role {
  background-color: #5591ff;
  color: white;
}

.card {
  border: 1px solid #efeff3;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 2rem;
}

.requests-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
  align-items: start;
  justify-items: start;
  margin: 1rem 4rem;
  padding: 2rem;
  gap: 2rem;
  height: auto;
}

.manager-wrapper {
  padding: 1rem;
}

.manager_header {
  grid-column: 1/3;
  padding: 1rem;
}
.manager_header__heading {
  font-size: 2.4rem;
  font-weight: bold;
  color: #3f3e3e;
  margin-bottom: 0.5rem;
}
.manager_header__subtext {
  font-size: 1.2rem;
  color: #808080;
  margin-bottom: 1rem;
}

.manager_card {
  display: grid;
  border-radius: 8px;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  transition: all 0.3s;
}
.manager_card:hover {
  background-color: #efeff3;
  transform: translateY(-1px);
}
.manager_card__content {
  display: flex;
  flex-direction: column;
}
.manager_card__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  background-color: #3f3e3e;
}
.manager_card__name {
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
  color: #3f3e3e;
}
.manager_card__department {
  margin: 0.25rem 0 0;
  font-size: 1.2rem;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.request-form {
  grid-row: 1/-1;
  grid-column: 2/-1;
  height: 100%;
}

.request-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 0;
}
.request-list__header {
  font-size: 2rem;
  color: #3f3e3e;
}
.request-list__select {
  padding: 0.5rem;
  color: #808080;
  width: auto;
}
.request-list__select:focus,
.request-list__select:active {
  outline: none;
  border-color: 3px solid #efeff3;
}
.request-list__nothing {
  font-size: 2.4rem;
  text-align: center;
  color: #808080;
}

.request-list__items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
  max-height: 400px;
  overflow-y: auto;
}

.request-list__item {
  padding: 2rem;
  background-color: #efeff3;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.3s;
}
.request-list__item:hover {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.request-list__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bebebe;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
.request-list__item-header .request-list__id {
  font-weight: bold;
  color: #3f3e3e;
}
.request-list__item-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.request-list__item-details .detail-group {
  display: flex;
  flex-direction: column;
}
.request-list__item-details .detail-group label {
  font-size: 1rem;
  text-transform: uppercase;
  color: #808080;
  margin-bottom: 2px;
}
.request-list__item-details .detail-group span {
  font-size: 2rem;
  color: #3f3e3e;
}

.request-form {
  padding: 3rem;
}
.request-form__img {
  width: 100%;
  max-height: 420px;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  margin-bottom: 2rem;
}
.request-form__title {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: bold;
  color: #3f3e3e;
}
.request-form__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.request-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.request-form .form-group label {
  font-size: 1.5rem;
  font-weight: 500;
  color: #808080;
}
.request-form .form-group input,
.request-form .form-group select,
.request-form .form-group textarea {
  padding: 1rem;
  border: 1px solid #bebebe;
  border-radius: 0.5rem;
}
.request-form .form-group input:focus,
.request-form .form-group select:focus,
.request-form .form-group textarea:focus {
  outline: none;
  border-color: 3px solid #efeff3;
}
.request-form .form-group textarea {
  min-height: 100px;
  resize: vertical;
}
.request-form .form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.btn-submit {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #5591ff;
  color: #fff;
  transition: all 0.3s;
}
.btn-submit:hover {
  background-color: #1e5dbe;
}

.request-list__tab {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}
.request-list__tab-team,
.request-list__tab-personal {
  color: #bebebe;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-bottom: 2rem;
  font-weight: 300;
}
.request-list__tab-active {
  border-bottom: 1px solid #808080;
  color: #808080;
}

.status-pill {
  background-color: #808080;
  padding: 0.5rem;
  border-radius: 80px;
  color: #808080;
}

.status--pending {
  background-color: #ffdea6;
}
.status--rejected {
  background-color: #f3c9d2;
}
.status--approved {
  background-color: #bddfd4;
}
.status--upcoming {
  background-color: #96dad1;
}
.status--completed {
  background-color: #b9c4d3;
}

.request-btn__approve,
.request-btn__reject {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 80px;
  background-color: #cdd9ea;
  color: #808080;
  transition: all 0.3s;
}
.request-btn__approve:disabled,
.request-btn__reject:disabled {
  background-color: #efeff3;
  color: #3f3e3e;
}
.request-btn__approve:hover,
.request-btn__reject:hover {
  background-color: #b0c9ec;
  color: #efeff3;
}
.request-btn__approve:hover:disabled,
.request-btn__reject:hover:disabled {
  background-color: #efeff3;
  color: #3f3e3e;
}

.manager_card__no-manager {
  font-size: 1.5rem;
  font-weight: 500;
  color: #3f3e3e;
} /*# sourceMappingURL=styles.css.map */
