/*

0-600px: Phone (phone)
600-900px: Tablet portrait (tab-port)
950-1200px: tablet landscape (tab-land)
1800px and above: Desktop (big-desktop)


1em = 16px
*/

$breakpoint-phone: 600px;
$breakpoint-smaller-tab: 717px;
$breakpoint-small-tab: 880px;
$breakpoint-tab-port: 900px;
$breakpoint-tab-land: 1200px;
$breakpoint-big-desktop: 1800px;

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: $breakpoint-phone) {
      @content;
    }
  } @else if $breakpoint == smaller-tab {
    @media (max-width: $breakpoint-smaller-tab) {
      @content;
    }
  } @else if $breakpoint == small-tab {
    @media (max-width: $breakpoint-small-tab) {
      @content;
    }
  } @else if $breakpoint == tab-port {
    @media (max-width: $breakpoint-tab-port) {
      @content;
    }
  } @else if $breakpoint == tab-land {
    @media (max-width: $breakpoint-tab-land) {
      @content;
    }
  } @else if $breakpoint == big-desktop {
    @media (min-width: $breakpoint-big-desktop) {
      @content;
    }
  }
}
